<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ice and more">
    <meta name="author" content="A.K.">

    <title>ice & more</title>
    <link rel="shortcut icon"  type="image/jpg" href="../../static/assets/ice and more.jpg"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 

    <!-- Custom Fonts -->
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 

    <!-- Custom CSS -->  
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-expand-md bg-trans navbar-dark fixed-top">
            <a class="navbar-brand mr-auto" href="index.html"><img src="../../static/assets/logo.jpg" height="30" width="41" style="  border-radius: 50%;"></a>
        <a class="navbar-brand" href="#">ice & more</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link" href="#menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Service</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>  
            </ul>
        </div>  
    </nav>
    <br><br><br>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-content-inner">
                <h1>Welcome to Ice & more</h1>
                <div class="row">
                    <h3 style="font-size:3vm"; >We are proud of providing and making delicious ice cream,
                friendly atmosphere and professional staff.</h3>
                </div>

            </div>
        </div>
    </div>

    
    <section class="bg-menu bg-section" id="menu">
        <div class="container-fluid">
            <h1 class="container-h1">MENU</h1>
            <div class="row">
                
                    <!-- Nav pills -->
                    <ul class="nav nav-pills" role="tablist">
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#{{category.id}}">{{category.name}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    
                    <!-- Tab panes -->

                    <div class="tab-content slideanim">
                    {% for category in categories%}
                        <div id={{category.id}} class="tab-pane fade show">
                            <div class="row">
                                <div class="col-sm-7">
                                    <ul class="list-group">
                                        {% for item in items %}
                                        {% ifequal item.category|stringformat:"s" category.name %}
                                        <li class="list-group-item">
                                            <h4 class="list-group-item-heading">{{item.name}}<span class="badge pull-right">{{item.price}} €</span></h4>
                                            <p class="list-group-item-text">{{item.category}}</p>
                                        </li>
                                        {% endifequal %}
                                        {% endfor %}
                                    </ul>

                                </div>
                                <div class="col-sm-5">
                                    <div class="right-cover">
                                        <h3>Ice cream</h3>
                                        <img src="../../static/assets/1.jpg" class="menu-img img-fluid" alt="ice-cream img">
                                    </div>
                                </div>
                            </div>      
                        </div>
                        {% endfor %}
                    </div>             
            </div>
        </div>
    </section>
    <section class="bg-about bg-section" id="about">
        <div class="container-fluid">
            <h1 class="container-h1">ABOUT</h1>
            <div class="row">
                <div class="col-sm-5">

                    <div class="hov-img">
                       <!--<img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/warm_welcome.jpg" alt="Warm welcome" class="hov-img-bottom img-fluid">-->
                        <img src="../../static/assets/inside1.jpg">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Warm welcome</h5>
                                <p>It had separate tables, a menu, and specialized in soups made with a base of meat and eggs, which were said to be restaurants or, in English "restoratives".</p>
                            </div>
                        </div>
                    </div>                    

                    <div class="hov-img">
                        <!--<img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/delicious_meals.jpg" alt="Delicious meals" class="hov-img-bottom img-fluid">-->
                        <img src="../../static/assets/inside3.jpg">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Delicious ice cream</h5>
                                <p> In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named Boulanger.</p>
                            </div>
                        </div>
                    </div>

                    <div class="hov-img">
                        <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/professional_staff.jpg" alt="Professional staff" class="hov-img-bottom img-fluid">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Professional staff</h5>
                                <p>For centuries Paris had taverns which served food at large common tables, but they were notoriously crowded, noisy, not very clean, and served food of dubious quality.</p>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="col-sm-7">
                    <div class="row ">
                        <div class="restaurant-history slideanim text-center">
                            <h3 class="section-heading">Ice & more cafe</h3>
                            <p class="about-history first">The modern idea of a restaurant – as well as the term itself – appeared in Paris in the 18th century. For centuries Paris had taverns which served food at large common tables, but they were notoriously crowded, noisy, not very clean, and served food of dubious quality. In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named Boulanger.<br /> <br >
                            It had separate tables, a menu, and specialized in icecream made with a base of milk and checkolate, which were said to be restaurants or, in English "restoratives". Other similar bouillons soon opened around Paris.
                            In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named Boulanger.
                            It had separate tables, a menu, and specialized in soups made with a base of meat and eggs, which were said to be restaurants or, in English "restoratives". Other similar bouillons soon opened around Paris.
                            </p>

                            <button type="button" class="btn more" id="more" data-toggle="collapse" data-target="#demo">More</button>
                            <div id="demo" class="collapse">  
                                <p class="about-history"> Thanks to Boulanger and his imitators, these soups moved from the category of remedy into the category of health food and ultimately into the category of ordinary food. Their existence was predicated on health, not gustatory, requirements.</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>     
        </div>
    </section>

    <section class="bg-service bg-section" id="service">
        <div class="container-fluid text-center">
            <h1 class="container-h1">Service</h1>
            <hr class="hr-h3s" style="color: #DC4C46">
            <div class="row service-round-3 slideanim">
                <div class="col-sm-4 text-center round">
                    <div class="service-round b-party">
                        <i class="fa fa-4x fa fa-birthday-cake sr-icons"></i>
                    </div>
                    <h4>Sending you smiles for every moment of your special day<span>💃&nbsp;&nbsp;</span>… Have a wonderful time and a very happy birthday <i class="em em-tada"></i> </h4>
                    <p>For more information please contact us.</p>
                </div>
                <div class="col-sm-4 text-center round">
                    <div class="service-round wedding">
                        <i class="fa fa-4x fa fa-futbol-o sr-icons"></i>
                    </div>    
                    <h4>Live Football Stream: Watch the top European Leagues and World Championships&nbsp;&nbsp;<i class="em em-100"></i>🔥</h4>
                    <p>For more information please contact us</p>
                </div>
                <div class="col-sm-4 text-center round">
                    <div class="service-round b-dinner">
                        <i class="fa fa-4x fa fa-suitcase  sr-icons"></i>
                    </div>
                    <h4>Business dinner</h4>
                    <p>For more information please contact us.</p>
                </div>
            </div>
            <a href="#contact" class="btn">Contact us</a>
        </div>
    </section>

    
    

    <section id="gallery" class="bg-gallery no-padding">
        <div class="container-fluid">
            <h3>Gallery</h3>
            <hr class="hr-h3s" style="color: #DC4C46">
            <div class="row no-gutter gallery slideanim"> 
                
                <div class="col-sm-4 portfolio-item">
                    <a  href="https://www.instagram.com/p/BrIbQhflQOY/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta1.jpg" class="img-fluid" alt="">     
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/p/BrieFyIA6Iq/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta2.jpg" style="width: 100%; height: 100%;" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/p/BrFaPfBFRit/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta3.jpg" style="width: 100%; height: 100%;" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/p/BnPlsTjhk_z/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta4.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/p/Bm7CsMch9cN/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta5.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/p/BmmRfzFBs6b/" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-instagram fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../static/assets/insta6.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="row more-img">

                    <div class="to-gallery">
                        <h4>For more pictures visit us on</h4>
                        <div class="social-networks">
                            <a href="https://www.instagram.com/ice9942/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/freshiceroll" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                
            </div>

        </div>
    </section>

    <section class="bg-staff" id="staff">
        <div class="container-fluid">
            <h3>Our staff</h3>
            <hr class="hr-h3s"> 
                <div class="row text-center slideanim thumbnail-row">
                    <div class="col-sm-4">
                        <div class="staff">
                            <img src="../../static/assets/mohamedsamy.jpg" class="" alt="chef-img" style="width:170px; height: 170px">
                            <h5 class="">Mohamed Samy</h5>
                            <h6>Founder & CEO</h6>    
                        </div>
                     </div>
                     <div class="col-sm-4">  
                        <div class="staff">
                            <img src="../../static/assets/ahmednegm.jpg" class="" alt="chef-img" style="width:170px; height: 170px">
                            <h5 class="">Ahmed Negm</h5>
                            <h6>Chef</h6>         
                        </div>
                    </div>  
                    <div class="col-sm-4">  
                        <div class="staff">
                            <img src="../../static/assets/khadrawy.jpg" class="" alt="chef-img" style="width:170px; height: 170px">
                            <h5 class="">Ahmed Khaled</h5>
                            <h6>Chef</h6>
                        </div>
                    </div>
                      
                </div>
        </div>
    </section>

    <section class="bg-testimonials" id="testimonials">
        <div class="container-fluid">
            <h3 class="">What people say about us</h3>
            <hr class="hr-testimonials">
            <div class="row slideanim">    
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                            <h4>The atmosphere in restaurant is friendly, and the
                            dishes are delicious.</h4>
                            <h5>Mark Gross</h5>
                      </div>

                      <div class="carousel-item">
                            <h4>Delicious meals, warm welcome, excellent service.</h4>
                            <h5>Nina Hansen</h5>
                      </div>
                    
                      <div class="carousel-item">
                            <h4>Definitely my favourite restaurant, friendly, clean, 
                            delicious meals.</h4>
                            <h5>Maria Fernandez</h5>
                      </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>       
    </section>

    <section class="bg-contact bg-section" id="contact">
        <div class="container-fluid">
            <h1 class="container-h1">Give us your feedback</h1>
            <div class="row slideanim">
                <div class="col-md-6 col-sm-6 contact-left">
                    <div class="left-box">
                        <address class="contact">
                            <span class="span-contact">Call:</span>
                            <br>
                            +??? ???? ????
                            <br> 
                            <span class="span-contact">Email:</span> 
                            <br>
                            xyz@gmail.com
                            <br>
                            <span class="span-contact">Visit:</span>  
                            <br>
                            22, Handaset El-ray st,
                            <br>
                            Tala, El-Monufeya
                            <br>
                            Egypt
                        </address>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 contact-right" >
                            
                            <form validate action="mailto:anttnew@gmmmail.com" name="frm" method="post">
                                 <div class="form-group has-feedback">
                                    <label class="sr-only">Your name:</label>
                                    <input type="text" name="name" class="form-control" placeholder="Your name" required>
                                    
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" name="comment" for="comment">Comment:</label>
                                    <textarea class="form-control" rows="5" id="comment" placeholder="Your feedback"></textarea>
                                </div>
                                <div class="contact-buttons pull-left">
                                    <input type="submit" name="submit"  value="Send" />
                                    <input type="reset" value="Reset" />
                                </div>
                            </form>
                            
                </div>
            </div>
            <div class="row">
                <div id="googleMap" style="height:300px;width:100%;"></div>

                <!-- Add Google Maps -->
                <script src="http://maps.googleapis.com/maps/api/js"></script>
                <script>
                var myCenter = new google.maps.LatLng(30.681669, 30.948939);

                function initialize() {
                var mapProp = {
                  center:myCenter,
                  zoom:20,
                  scrollwheel:false,
                  draggable:false,
                  mapTypeId:google.maps.MapTypeId.ROADMAP
                  };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                  position:myCenter,
                  });

                marker.setMap(map);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
                </script>
            </div>
        </div>    
    </section>

    <footer class="-bg-footer" id="footer">
        <div class="container-fluid">
            <div class="row footer-align">
                <div class="col-md-4 col-sm-4">
                    <h5>ice & more</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <p class="footer">
                            The EU-27 has an estimated 1.6m businesses involved in 'accommodation and food services', more than 75% of which are small and medium enterprises.
                        </p>
                        <ul class="social-networks">
                            <a href="https://www.instagram.com/ice9942/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/freshiceroll" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Our contact</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <address>
                                22, Handaset El-ray st
                                <br>
                                Tala, Elmonufeya
                                <br>
                                Egypt
                                <br><br>
                                <i class="fa fa-phone address"></i> +2 0?? ???? ????
                                <br>
                                <i class="fa fa-fax address"></i> +??? ???? ????
                                <br>
                                <i class="fa fa-envelope address"></i> <a href="mailto:xyz@gmail.com">xyz@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Open hours</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <ul>
                            <li>Sat-Thu: 10:00-23:00</li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <a class="to-top" href="#home" title="toTop">
            <i class="fa fa-chevron-up"></i>
        </a>
    </footer>

    <div class="footer-copyright">
            <p>&copy 2019 Copyright</p>
    </div>

    <script src="../../static/script/app.js"></script>
</body>

</html>